extends /_layouts/single


append vars
  -
    var pageInfo = {
      path: '/mast7/ch01/',
      title: 'modern css chapter 3 | scroll-snap',
      description: 'scroll-snap',
      pageClass: 'modern-css-ch03'
    }

block main
  article.container
    h1
      span modern css chapter 3
  
