.footer
  background-color c_secondary
  color c_white
  &__inner
    padding 1rem
    margin 4rem auto 0
    +pc()
      width w_single
.footerMenu
  list-style none
  display flex
  flex-flow row wrap
  justify-content center
  align-items center
  padding-left 0
  margin-bottom 1rem
  &__item
    padding 0 1rem
  a
    color c_white

.copyrights
  display block
  font-size f_s
  text-align center
