mixin footer()
  footer.footer
    .footer__inner
      ul.footerMenu
        li.footerMenu__item
          a(href='/') test
        li.footerMenu__item
          a(href='/samples') test2
      small.copyrights
        | &copy;
        | 2018 test
