.modern-css-ch03
  .ex-01-snap-slide
    .slideshow
      scroll-snap-type x mandatory //create our scroll container, we're scrolling on the x-axis direction. the strictness is mandator
      overflow-x auto
      display flex //child
      flex-direction row
      align-items center
      img
        scroll-snap-align center
